.form {
  position: relative;
  width: 100%;
  font-weight: 700;
}

.form__wrapper {
  position: relative;
  height: 42px;
  margin-bottom: 2.6875rem;
}

.form__wrapper--message {
  position: relative;
  height: 92px;
}

.form__input,
.form__input--message {
  color: #1b1d23;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #1b1d23;
  font-size: 1.25rem;
  line-height: 1.15rem;
  letter-spacing: -0.31px;
  padding-left: 2rem;
}

.form__input {
  padding-bottom: 1.25rem;
}

.form__input--message {
  resize: none;
}

.form__input::placeholder,
.form__input--message::placeholder {
  color: #c8ccd8;
}

.form__error {
  font-size: 1.125rem;
  line-height: 1.035rem;
  letter-spacing: -0.28px;
  color: #df5656;
  position: absolute;
  right: 0;
  bottom: 0.5rem;
}

.form__submit {
  position: absolute;
  right: 0;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1d23 !important;
  transition: all 250ms;
}

.form__submit:hover,
.form__submit:focus {
  background-color: #60636d !important;
}
