.text-shadow {
  text-shadow: #000 2px 2px, #000 0px -1px, #000 2px 0 10px,
    #000 -2px 0 10px;
}

.current-btn {
  background-color: #1b1d23 !important;
  color: #fff !important;
}

.accent::before {
  content: '';
  display: block;
  width: 65px;
  height: 1px;
  background-color: #c8ccd8;
}

@media (min-width: 768px) {
  .accent::before {
    display: none;
  }
}
