@tailwind base;
@tailwind components;
@tailwind utilities;

/***********************************************
  Reset and Scrollbar
***********************************************/
*,
*::before,
*::after {
  box-sizing: border-box;

  /* firefox support */
  scrollbar-color: #1b1d23 #fafafa;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #1b1d23;
  border-radius: 100vw;
  border: 0.25rem solid #fafafa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(27, 29, 35, 0.85);
}

/***********************************************
  Base/Global Styles
***********************************************/
/* Keeps footer at bottom of page on zoom-out. */
/* Footer gets margin-top: auto. */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.active {
  text-decoration: underline;
  color: #1b1d23;
}

.ninja {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.container {
  margin-inline: auto;
  width: min(100% - 4rem, 573px);
}

.container--small {
  margin-inline: auto;
  width: min(100%, 573px);
}

.container--leaders {
  margin-inline: auto;
  width: min(100% - 4rem, 311px);
}

@media (min-width: 768px) {
  .container--header,
  .container--leaders {
    margin-inline: auto;
    width: 573px;
  }
}

@media (min-width: 1440px) {
  .container,
  .container--header,
  .container--small,
  .container--leaders {
    width: 1110px;
  }
}

.heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  letter-spacing: -1.71px;
}

.heading--hero {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -1.2px;
}

.heading--sub {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.heading--flavor {
  display: none;
}

@media (min-width: 768px) {
  .heading {
    font-size: 4.5rem;
    line-height: 4rem;
    letter-spacing: -2px;
  }

  .heading--hero {
    font-size: 6rem;
    line-height: 5.5rem;
    letter-spacing: -2px;
  }

  .heading--flavor {
    position: absolute;
    display: block;
    text-transform: capitalize;
    color: #eeeff4;
    font-weight: 700;
    font-size: 9.375rem;
    letter-spacing: -3px;
  }
}

@media (min-width: 1440px) {
  .heading--flavor {
    font-size: 15.625rem;
    letter-spacing: -5px;
  }
}

.accent::before,
.accent--hero::before,
.accent--secondary::before {
  content: '';
  width: 65px;
  height: 2px;
  background-color: #c8ccd8;
}

.accent::before,
.accent--secondary::before {
  display: block;
  margin-bottom: 4.25rem;
}

@media (min-width: 768px) {
  .accent::before {
    display: none;
  }

  .accent--hero::before,
  .accennt--page::before {
    display: block;
  }

  .accent--hero::before {
    margin-bottom: 4.5rem;
  }

  .accent--secondary::before {
    margin-bottom: 3rem;
  }

  .accent--page {
    display: flex;
    align-items: center;
    position: absolute;
    left: -35px;
    top: 0;
    letter-spacing: 18px;
    transform-origin: 0 0;
    transform: rotate(90deg);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .accent--page::before {
    content: '';
    display: block;
    width: 104px;
    height: 1px;
    background-color: #c8ccd8;
    margin-right: 3rem;
  }
}

@media (min-width: 1440px) {
  .accent--page {
    left: -78px;
  }

  .accent--secondary::before {
    grid-column-start: 1;
    margin-bottom: 5.125rem;
  }
}

.icon {
  display: inline;
  width: 2rem;
  cursor: pointer;
}

.icon path {
  transition: all 250ms;
}

.twitter:hover path,
.twitter:focus path {
  fill: #1da1f2;
}

.linkedin:hover path,
.linkedin:focus path {
  fill: #0072b1;
}
