@tailwind base;
@tailwind components;
@tailwind utilities;

/***********************************************
  Reset and Scrollbar
***********************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/***********************************************
  Base Styles
***********************************************/
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.container {
  margin-inline: auto;
  width: min(100% - 4rem, 689px);
}

.container--small {
  margin-inline: auto;
  width: min(100%, 689px);
}

@media (min-width: 1440px) {
  .container,
  .container--small {
    width: 1110px;
  }
}

.active {
  text-decoration: underline;
  color: #1b1d23;
}

.ninja {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}
