@tailwind base;
@tailwind components;
@tailwind utilities;

/***********************************************
  Reset and Scrollbar
***********************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/***********************************************
  Base/Global Styles
***********************************************/
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.container {
  margin-inline: auto;
  width: min(100% - 4rem, 573px);
}

.container--small {
  margin-inline: auto;
  width: min(100%, 573px);
}

@media (min-width: 1440px) {
  .container,
  .container--small {
    width: 1110px;
  }
}

.heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  letter-spacing: -1.71px;
}

.heading--hero {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -1.2px;
}

.heading--sub {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.heading--flavor {
  display: none;
}

@media (min-width: 768px) {
  .heading {
    font-size: 4.5rem;
    line-height: 4rem;
    letter-spacing: -2px;
  }

  .heading--hero {
    font-size: 6rem;
    line-height: 5rem;
    letter-spacing: -2px;
  }

  .heading--flavor {
    position: absolute;
    display: block;
    text-transform: capitalize;
    color: #eeeff4;
    font-weight: 700;
    font-size: 7.5rem;
    letter-spacing: -3px;
  }
}

@media (min-width: 1440px) {
  .heading--flavor {
    font-size: 15.625rem;
    letter-spacing: -5px;
  }
}

.accent::before {
  content: '';
  display: block;
  width: 65px;
  height: 1px;
  background-color: #c8ccd8;
  margin-bottom: 4.25rem;
}

@media (min-width: 768px) {
  .accent::before {
    display: none;
  }

  .accent--secondary::before {
    content: '';
    display: block;
    width: 65px;
    height: 1px;
    background-color: #c8ccd8;
    margin-bottom: 4.5rem;
  }
}

.active {
  text-decoration: underline;
  color: #1b1d23;
}

.ninja {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}
